.story {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 3em;
    text-align: center;
    font-family: Pacifico, cursive;
    overflow: visible;
    height: 100%;
    animation: a 50s linear 1;
    animation-fill-mode: forwards;
    box-sizing: border-box
}

.story-container {
    overflow: hidden
}

.home {
    font-family: Pacifico, cursive
}

a {
    color: #000;
    transition-duration: .5s
}

a:hover {
    color: #00c853
}

body {
    /* overflow: hidden; */
}

@keyframes a {
    0% {
        transform: translateY(50%)
    }
    to {
        transform: translateY(-75%)
    }
}

@media only screen and (max-width: 992px) {
    .story {
        padding: 5% 10% 10%;
        font-size: 5.2em
    }
}