.tabs .tab a {
  color: #000;
  display: block;
  width: 100%;
  height: 100%;
}

.tabs .tab a:hover {
  color: #000;
}

.tabs .tab a.active {
  color: #4caf50;
}

.tabs .indicator {
  background-color: #4caf50;
}

.tabs-content li {
  height: 100%;
}

#parallax1 {
  height: 650px;
}

#parllax2 {
  height: 600px;
}

#content-about h1 {
  font-size: 40px;
}