/*
*
*
*Main Styles
*
*
*/

*:focus {
  outline: none;
}

nav {
  background-color: #00c853;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

blockquote {
  border-color: #00C853;
  margin: 10px;
}

.card-image {
  height: 180px;
  text-shadow: 1px 3px rgba(0,0,0,0.12), 1px 2px rgba(0,0,0,0.24);
}

.card-image img {
  width: auto !important;
  margin: auto;
  max-width: 100%;
  /*max-height: 100%;*/
}

.connect-icon {
  width: 50px;
  height: auto;
}

.waves-effect.waves-accentGreen .waves-ripple {
  background-color: #00C853;
}

.bold {
  font-weight: bold;
}

.main-page {
  padding: 0px;
}

.site-header {
  background-color: #4CAF50;
}

.brand-logo {
  height: 100%;
}

.brand-logo img {
  height: 100%;
  width: auto;
}

.parallax-container img {
  height: auto;
  width: 100%;
  display: block;
}

.modal a {
  color: #00C853;
}

#egg-bio-text {
  transition-duration: 0.5s;
}

/*
*
*
*Navigation Styles
*
*
*/

.nav-buttons a:active {
  background-color: #78909C;
}

.page-content {
  margin-left: 240px;
}

.side-nav {
  background-color: #757575;
}

.nav-logo {
  width: 100%;
  height: auto;
  padding: 10px;
}

.side-nav.fixed a, .side-nav a {
    color: #fff;
}

.side-nav.fixed a:hover, .side-nav a:hover {
    background-color: background-color: rgba(51,51,51,0.08);
}

.collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
  background-color: background-color: rgba(51,51,51,0.08); !important;
}

.side-nav .collapsible-header {
    color: #fff;
}

.side-nav div ul {
    background-color: #757575;
}
.side-nav a.active {
  background-color: #00c853;
}

ul.side-nav li a {
  line-height: 44px;
  height: 44px;
}

ul.side-nav li {
  line-height: 44px;
}


.open-new {
  margin-top: 12px;
  float: right;
  font-size: 20px !important;
}

.padding-reduce {
  padding-right: 30px !important;
}
/*
*
*
*Home Page Stuff
*
*
*/

#content-home {
  text-align: center;
}

/*
*
*
*About Page Stuff
*
*
*/

.tabs .tab a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
}

.tabs .tab a:hover {
    color: #00c853;
}

.tabs .tab a.active {
    color: #00c853;
}

.tabs .indicator {
  background-color: #00c853;
}

.tabs-content li {
  height: 100%;
}

#parallax1 {
  height: 650px;
}

#parllax2 {
  height: 600px;
}

#content-about h1 {
  font-size: 40px;
}


/*
*
*
* Member/Mentor Page
*
*
*/
.member-card.small .card-content {
  max-height: 70%;
}

.bio {
  font-size:large;
}

/*
*
*
* Header
*
*
*/
header {
  margin-left: 240px;
  color: #fff;
  text-align: center;
}

/*
*
*
* Footer
*
*
*/

footer {
  margin-left: 240px;
  color: #fff;
}

footer.page-footer {
  margin-top: 0;
}

.affiliates {
  text-align: center;
}

.footer-connect {
  text-align: center;
}

.footer-connect li {
  padding: 5px;
  padding-left: 30px;
  margin: 5px;
  background-position: left center;
  display: inline;
}

.footer-connect a {
  position: relative;
  color: #fff;
}

.fb-icon {
  background-image: url(../images/icons/fbIcon.svg);
  background-repeat: no-repeat;
  background-size: 25px auto;
}

.twitter-icon {
  background-image: url(../images/icons/twitterIcon.svg);
  background-repeat: no-repeat;
  background-size: 25px auto;
}

.youtube-icon {
  background-image: url(../images/icons/youtubeIcon.svg);
  background-repeat: no-repeat;
  background-size: 25px auto;
}

.tba-icon {
  background-image: url(../images/icons/statsIcon.svg);
  background-repeat: no-repeat;
  background-size: 25px auto;
}

.footer-logo {
  width: 50px;
  margin: 5px;
}

.footer-copyright {
  text-align: center;
}

.footer-copyright a {
  color: rgba(255,255,255,0.8); /*Change this to hex sometime*/
}

footer .fancy-underline:before {
  background-color: rgba(255,255,255,0.8); /*Change this to hex sometime*/
}

/*
*
*
* Mobile Styles
*
*
*/

@media only screen and (max-width: 992px) {
  .page-content {
    margin: auto;
  }

  .main-page {
    padding: 10px;
  }

  footer {
    margin-left: inherit !important;
  }

  header {
    margin-left: inherit !important;
  }

  .hide-mobile {
    display: none;
  }
}
