/*
*
*
* Main Styles
*
*
*/

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: scroll;
}

main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

main a {
    color: #00c853;
}

.brand-logo img {
    height: 100%;
    width: auto;
    padding: 10px;
}

.description {
    font-size: medium !important;
}

.flow-text {
    font-size: 1.5em !important;
}

/*
*
*
* Navigation Styles
*
*
*/

.nav-buttons a:active {
    background-color: #78909C;
}

.page-content {
    margin-left: 240px;
}

.side-nav {
    background-color: #757575;
}

.nav-logo-li {
    padding: 5px;
}

.side-nav.fixed a, .side-nav a {
    color: white;
}

.side-nav.fixed a:hover, .side-nav a:hover {
    background-color: #616161;
}

.collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    background-color: #616161 !important;
}

.side-nav .collapsible-header {
    color: white;
}

.side-nav div ul {
    background-color: #757575;
}

.side-nav a.active {
    background-color: #424242;
}

ul.side-nav li a {
    line-height: 44px;
    height: 44px;
}

ul.side-nav li {
    line-height: 44px;
}

.open-new {
    margin-top: 12px;
    float: right;
    font-size: 20px !important;
}

.padding-reduce {
    padding-right: 30px !important;
}

/*
*
*
* Footer
*
*
*/

footer {
    margin-left: 240px;
    color: white;
}

footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

footer.page-footer .row {
    margin-bottom: 0;
}

.footer-connect {
    text-align: center;
}

.footer-connect li {
    padding: 5px;
    padding-left: 30px;
    margin: 5px;
    background-position: left center;
    display: inline;
}

.footer-connect a {
    position: relative;
    color: white;
    cursor: pointer;
}

.fb-icon {
    background-image: url(../images/icons/fb.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.blog-icon {
    background-image: url(../images/icons/blog.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.twitter-icon {
    background-image: url(../images/icons/twitter.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.youtube-icon {
    background-image: url(../images/icons/youtube.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.tba-icon {
    background-image: url(../images/icons/stats.svg);
    background-repeat: no-repeat;
    background-size: 25px auto;
}

.footer-copyright {
    text-align: center;
}

.footer-copyright a {
    color: rgba(255, 255, 255, 0.8);
}
