@media only screen and (max-width: 600px){
    .page-content {
        margin: auto;
    }
    .main-page {
        padding: 10px;
    }
    footer {
        margin-left: inherit !important;
    }
    header {
        margin-left: inherit !important;
    }
    .hide-mobile {
        display: none;
    }
}
