.youtube-vid {
  margin: 15px;
}

.stem-caps {
  font-weight: 500;
}

.red-highlight, .blue-highlight {
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.stem-header:hover .red-highlight {
  color: #f44336;
}

.stem-header:hover .blue-highlight {
  color: #2196f3;
}
